# Node modules
node_modules/
uploads/
db/

# Archivos de entorno
#.env

# Base de datos local
#*.db
#*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Build / producción (si aplicara)
dist/
build/
